@import "./reset.scss";
@import "./veriables/global.scss";
@import "./fonts.scss";

body {
  font-family: Ruda;
}

#root {
height: 100%;
}
.app {
  height: 100%;
  display: flex;
  flex-direction: column;

  main {
    flex: 1 1 auto;
  }
}
._container {
  max-width: $maxWidthContainer;
  padding: 0 #{$sideIndent + px} ;
  margin: 0 auto;
}
.content {
  display: flex;
}