@use "app/styles/veriables/global";

.catalogIcon {
  display: flex;
  align-items: center;
  column-gap: 12px;
  height: 44px;
  padding: 0 30px;
  background: global.$pinkSoft;
  transition: all 0.3s ease 0s;
  border-radius: 6px;

  &._active,
  &:hover {
    background: global.$pinkHover;
  }

  &__icon {
    width: 20px;
    height: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background: #000;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #000;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #000;
      }
    }

  }
  &__text {
    outline: 1px solid transparent;
  }
}

@media (max-width: global.$mobile) {
  .catalogIcon {
    background: transparent;
    padding: 0;

    &._active {
      background: transparent;
    }
  }
}
