.spoiler {
  outline: 1px solid transparent;
}

.spoiler__title {
  cursor: pointer;
}

.spoiler__content {
  height: 50px;
  overflow: hidden;
}

.spoiler__contentEnter {
  height: 0px;
}

.spoiler__contentEnterActive {
  height: 50px;
  transition: all 0.4s ease;
}

.spoiler__contentExit {
  height: 50px;
}

.spoiler__contentExitActive {
  height: 0px;
  transition: all 0.4s ease;
}
