.navigation {
  outline: 1px solid transparent;

}
.navigation__list {
  display: flex;
  column-gap: 20px;
}
.navigation__item {
  outline: 1px solid transparent;
}
.navigation__link {

  &:hover {
    text-decoration: underline;
  }
}