@use "/src/app/styles/veriables/global";

.logo {
  text-align: center;
  &__top {
    font-size: 35px;
  }
  &__bottom {
    font-size: 18px;
  }
}

@media (max-width: global.$mobile) {
  .logo {
    &__top {
      font-size: 29px;
    }
    &__bottom {
      font-size: 12px;
    }
  }
}