@use "app/styles/veriables/global";

.mainScreen {
  margin-top: 10px;
  &__row {
    display: flex;
    column-gap: 10px;
    min-height: 325px;
    //max-height: 380px;
  }
  &__slider {
    flex: 0 1 66.847%;
    overflow: hidden;
  }
  &__promo {
    flex: 1 1 auto;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: global.$tablet) {
  .mainScreen__row {
    min-height: auto;
  }
  .mainScreen__slider {
    flex: 1 1 auto;
  }
  .mainScreen__promo {
    display: none;
  }
}