@use "/src/app/styles/veriables/global";

header {
  padding: 20px 0;
  background: global.$greySoft;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: global.$mobile) {
  header {
    padding: 15px 0;
  }
}