@use "app/styles/veriables/global";

.mainSlider {
  &__slide {
    background: rgba(108, 245, 108, 0.51);
    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: global.$tablet) {
  .mainSlider__slide img {
    max-width: 100%;
  }
}